* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
a {
 text-decoration: none;
}

body {
 font-family: 'Poppins', sans-serif;
 background: #eeeeee;
}
main {
 display: flex;
 margin: 0 auto;
}

.profile {
 width: 350px;
 padding: 16px;
 margin: 5rem auto;
 background-image: linear-gradient(
  180deg,
  #581845,
  #900c3f,
  #c70039,
  #ff5733,
  #ffc300
 );
 border-radius: 5px;
 line-height: 2;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h2 {
 text-align: center;
 text-transform: capitalize;
 color: #0c0101;
}

.profile-pic {
 width: 90px;
 object-fit: cover;
 height: 90px;
 border-radius: 50%;
}

p {
 font-weight: 700;
 color: #0c0101;
}

p span {
 font-weight: normal;
 color: #ffffff;
}

footer {
 position: absolute;
 bottom: 0;
 left: 20%;
 right: 20%;
 display: flex;
}

footer div {
 font-style: italic;
 margin: 0 auto;

 color: #581845;
 padding-bottom: 16px;
 transition: all 200ms ease;
}

div a:hover {
 font-weight: 600;
 color: #c70039;
 text-decoration: underline;
}
